.s-hero{
    button{
        background-color: blue;
        border: none;
        color: white;
        padding: 20px;
        font-size: 20px;
        border-radius: 5px;
        margin: 20px;
    }
}