// funciona como pattern no codigo

@mixin style-btn { 
    width: 200px;
    height: 100px;
    background-color: pink;
    color: black;
    font-size: 2rem;
    border-radius: 5px;
}

// mixins with argument

@mixin style-btn-argument($width) { 
    width: $width;
    height: 100px;
    background-color: pink;
    color: black;
    font-size: 2rem;
    border-radius: 5px;
    @include flex-element(center,center,row); //mixin inside another mixin using parameters
}

// mixin about flexbox

@mixin flex-element($align, $justify, $direction){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}