// funciona como pattern no codigo

@mixin style-btn { 
    width: 200px;
    height: 100px;
    background-color: pink;
    color: black;
    font-size: 2rem;
    border-radius: 5px;
}

// mixins with argument

@mixin style-btn-argument($width) { 
    width: $width;
    height: 100px;
    background-color: pink;
    color: black;
    font-size: 2rem;
    border-radius: 5px;
}